* {
  font-family: sans-serif;
  color: #0c0d0d;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #66d9ff;
}

.title {
  color: #0000b3;
  margin-bottom: 10px;
  margin-top: 80px;
  font-weight: 800;
}

#creator {
  margin-top: 10px;
  margin-bottom: 70px;
}

.all-buttons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-gap: 10px;
  padding: 30px;
  background-color: #b16218;
  border-radius: 15px;
  box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.5);
}

.button {
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
  background-color: #a1a9aa;
}

.button-equal {
  background-color: #f4c025;
}

.button-division,
.button-x,
.button--,
.button-plus,
.button-par-open,
.button-par-close {
  background-color: #0066ff;
}

.screen {
  grid-column: span 4;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 50px;
  /* direction: rtl; */
  /* text-align: right; */
  font-family: Arial, Helvetica, sans-serif;
}

.button.activo {
  transform: scale(0.95);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.button-delete,
.button-AC {
  background-color: #fd1e00;
}

.button-division {
  font-size: 40px;
  padding: 0;
}
